*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --main-title-fs: 75px;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
  margin: 0 auto;
}

.result {
  width: 711px;
  /* font-size: var(--main-title-fs);
  margin-top: 1lh; */
}


.search-form {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
  justify-content: space-between;
}


.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  overflow: hidden;
  position: relative;
}

.result__video {
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 30px;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  margin-top: 26px;
  gap: 30px;
  position: relative;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  /* font-size: var(--main-title-fs); */
  text-transform: uppercase;
  line-height: 94%;
  font-weight: bold;
  color: #FFFFFF;
}

.title .content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
}

.content__video-card-title {
  overflow: hidden;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 196px;
  cursor: pointer;
  font-family: Oswald, sans-serif;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15x;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  width: 225px;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  color: rgb(255 255 255);
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

.search-form__textfield::placeholder {
  border-color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #FFFFFF;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox-list:focus {
  outline: none;
}

.search-form__checkbox-list:focus-visible {
  outline: 1px solid #FFF;
}

.button {
  min-height: 34px;
  width: 194px;
  background-color: transparent; 
  color: #FFF;
  border: 1px solid #FFFFFF;
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: flex-end; 
}

.more-button {
  width: 100%;
  margin-top: 30px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.content__card-link {
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding-right: 3px;
  padding-left: 3px;
  cursor: pointer;
}